VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_IPO_MOOD_API_URL=http://localhost:4000
VITE_CDN_URL=

DATABASE_URL=
DIRECT_URL=

GOOGLE_CLIENT_SECRET=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
IPO_ALERTS_API_KEY=

REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=
